@model IEnumerable<Domain.QuoteDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Quote ID
            </th>
            <th>
                QuoteNumber
            </th>
            <th>
                QuoteDate
            </th>
            <th>
                Status
            </th>
            <th>
                TotalAmount
            </th>
            <th>
                Project
            </th>
            <th>
                Material
            </th>
            <th>StaffId</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody id="quotetList">
    </tbody>
</table>
@section scripts {
    <script>
        var token = localStorage.getItem('jwtToken')
        $(document).ready(function () {
            $.ajax({
                url: 'https://localhost:7222/odata/QuoteDetails',
                type: 'GET',
                dataType: 'json',
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function (data) {
                    displayProjects(data);
                    console.log(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error:', xhr.responseText);
                    var errorMessage = 'An error occurred: ' + xhr.responseText;
                    $('#error-message').text("An error occurred: ERROR PERMISSION");
                }
            });
        });
        function displayProjects(data) {
            var tableHtml = '';
            data.forEach(function (project) {
                tableHtml += '<tr>';
                tableHtml += '<td>' + project.quoteID + '</td>';
                tableHtml += '<td>' + project.quoteNumber + '</td>';
                tableHtml += '<td>' + project.quoteDate + '</td>';
                tableHtml += '<td>' + project.status + '</td>';
                tableHtml += '<td>' + project.totalAmount + '</td>';
                tableHtml += '<td>' + project.projectID + '</td>';
                tableHtml += '<td>' + project.materialID + '</td>';
                tableHtml += '<td>' + project.staffId + '</td>';
                tableHtml += '<td><button class="btn btn-primary detail-btn" data-qoute-id="' + project.quoteID + '">Detail</button></td>';

                tableHtml += '</tr>';
            });
            $('#quotetList').html(tableHtml);
            $('.detail-btn').click(function () {
                var qouteid = $(this).data('qoute-id');
                $.ajax({
                    type: "GET",
                    url: "https://localhost:7222/api/QuoteDetails/GetQuoteDetail?id=" + qouteid,
                    success: function (response) {
                        console.log(response);
                        window.location.href = '/QuoteDetails/Details?QuoteDetailId=' + qouteid;
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        }

    </script>
}