@model Domain.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RoomDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomID)
        </dt>
        <dd class="col-sm-10" id="RoomID">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>
        <dd class="col-sm-10" id="RoomName">

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10" id="Size">

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10" id="Description">

        </dd>
    </dl>
    <div id="roomsDetails">
    </div>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model?.RoomDetailId">Edit</a> | *@
    <a href="/Projects/Index" id="backToListLink">Back to List</a>
</div>

@section scripts {
    <script>
        // var token = localStorage.getItem('jwtToken');
        // var role = localStorage.getItem('role');
        // if (role.length != null) {

        //     document.getElementById('token').style.display = "block";
        $(document).ready(function () {
            

            const urlParams = new URLSearchParams(window.location.search);
            const roomId = urlParams.get('id');
            console.log("roomId", roomId);

            // var backToListLink = document.getElementById("backToListLink");
            // backToListLink.href = "/Projects/Details?projectId=" + roomId;
            $.ajax({
                method: "GET",
                url: "https://localhost:7222/api/Rooms/GetRoomByID?id=" + roomId,
                success: function (room) {
                    $('#RoomID').text(room.roomID);
                    $('#RoomName').text(room.roomName);
                    $('#Size').text(room.size);
                    $('#Description').text(room.description);

                    // if (role === 'CUSTOMER') {
                    //     document.getElementById('editproject').style.display = "block";

                    //     $('#editproject').attr('href', '/Projects/Edit?projectId=' + booking.projectID);
                    // }
                    // $('#editLink').attr('href', '/Materials/Edit?materialId=' + qou.materialID);

                    if (room.responseRoomDetails.length > 0) {
                        var detailsHtml = '<h4>Booking Details</h4><table class="table"><thead><tr><th>Room ID</th><th>Name</th><th>NumberEquipment</th><th>Description</th><th>dateTime</th></tr></thead><tbody>';

                        room.responseRoomDetails.forEach(function (detail) {
                            detailsHtml += '<tr>';
                            detailsHtml += '<td>' + detail.roomDetailId + '</td>';
                            detailsHtml += '<td>' + detail.name + '</td>';
                            detailsHtml += '<td>' + detail.numberEquipment + '</td>';
                            detailsHtml += '<td>' + detail.description + '</td>';
                            detailsHtml += '<td>' + detail.dateTime + '</td>';
                            detailsHtml += '</tr>';
                        });

                        detailsHtml += '</tbody></table>';
                        $('#roomsDetails').html(detailsHtml);
                    }
                },
                error: function (error) {
                    console.log(error.responseJSON);
                    alert(error.responseJSON.title);
                }
            });
            // $('#edit-link').click(function () {
            //     localStorage.setItem('bookingId', bookingId);

            //     console.log(bookingId);
            // });
            // $('#deleteproject').click(function () {
            //     console.log("projectId", projectId);
            //     $.ajax({
            //         method: "Delete",
            //         url: "https://localhost:7222/api/Projects/DeleteProject?id=" + projectId,
            //         success: function (booking) {
            //             window.location.href = "/Projects/Index";
            //         },
            //         error: function (error) {
            //             console.log(error.responseJSON);
            //             alert(error.responseJSON.Exception);
            //         }
            //     });
            // });
        });
        // }
    </script>
}
