<h1>HomePage</h1>

<div id="adminSection"></div>

<div id="customerSection"></div>


<script>
    var token = localStorage.getItem("jwtToken");
    var role = localStorage.getItem("role");
    console.log(role);

    if (token.length >= 312 && role === "STAFF") {
        console.log(role);
    
        var adminSection = document.getElementById('adminSection');
        adminSection.innerHTML = "<p>Information:</p>";

        var adminFormsHTML = `
                                    <button id="customerButton" type="submit">Go to Customer</button>
                                            <button id="projectButton" type="submit">Go to Projects</button>
                                            <button id="materialButton"type="submit">Go to Materials</button>
                                                            <button id="quotesButton"type="submit">Go to QuoteDetails</button>
                                                                    <button id="staffButton"type="submit">Go to Staffs</button>
                                                <button type="submit">Logout</button>
                            `;
        adminSection.innerHTML += adminFormsHTML;
        document.getElementById('customerButton').addEventListener('click', function () {
            window.location.href = "/Customers/Index";
        });
        document.getElementById('projectButton').addEventListener('click', function () {
            window.location.href = "/Projects/Index";
        });
        document.getElementById('materialButton').addEventListener('click', function () {
            window.location.href = "/Materials/Index";
        });
        // document.getElementById('roomInforButton').addEventListener('click', function () {
        //     window.location.href = "/Rooms/Index";
        // });
        document.getElementById('quotesButton').addEventListener('click', function () {
            window.location.href = "/Quotes/Index";
        });
        document.getElementById('staffButton').addEventListener('click', function () {
            window.location.href = "/Staffs/Index";
        });


    }
    else if (token.length >= 312 && role === "CUSTOMER") {
        console.log("XIN CHAO");
        var adminSection = document.getElementById('adminSection');
        adminSection.innerHTML = "<p>Information:</p>";

        var adminFormsHTML = `
                                                <button id="projectButton" type="submit">Go to Projects</button>
                                                <button id="materialButton"type="submit">Go to Materials</button>
                                                                <button id="quotesButton"type="submit">Go to QuoteDetails</button>
                                                                        <button id="staffButton"type="submit">Go to Staffs</button>
                                                    <button type="submit">Logout</button>
                                `;
        adminSection.innerHTML += adminFormsHTML;
       
        document.getElementById('projectButton').addEventListener('click', function () {
            window.location.href = "/Projects/Index";
        });
        document.getElementById('materialButton').addEventListener('click', function () {
            window.location.href = "/Materials/Index";
        });
        // document.getElementById('roomInforButton').addEventListener('click', function () {
        //     window.location.href = "/Rooms/Index";
        // });
        document.getElementById('quotesButton').addEventListener('click', function () {
            window.location.href = "/Quotes/Index";
        });
        document.getElementById('staffButton').addEventListener('click', function () {
            window.location.href = "/Staffs/Index";
        });
    }
</script>