@model Domain.Project

@{
    ViewData["Title"] = "Details";
}
<div class="viewEditCustomer" id="token" style="display: none;">
    <h1>Details</h1>

    <div>
        <h4>Project</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Project ID
            </dt>
            <dd class="col-sm-10" id="ProjectId">

            </dd>
            <dt class="col-sm-2">
                ProjectName
            </dt>
            <dd class="col-sm-10" id="ProjectName">

            </dd>
            <dt class="col-sm-2">
                StartDate
            </dt>
            <dd class="col-sm-10" id="StartDate">

            </dd>
            <dt class="col-sm-2">
                EndDate
            </dt>
            <dd class="col-sm-10" id="EndDate">

            </dd>
            <dt class="col-sm-2">
                Status
            </dt>
            <dd class="col-sm-10" id="Status">

            </dd>
            <dt class="col-sm-2">
                Bargain
            </dt>
            <dd class="col-sm-10" id="Bargain">

            </dd>
            </dd>
            <dt class="col-sm-2">
                Customer
            </dt>
            <dd class="col-sm-10" id="Customer">
            </dd>
        </dl>
        <div id="bookingDetails">
        </div>
    </div>
    <div>
        <a href="#" id="editproject" style="display:none;">Edit</a>
        <a href="#" id="deleteproject">Delete</a>
        <br />
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section scripts {
    <script>
        var token = localStorage.getItem('jwtToken');
        var role = localStorage.getItem('role');
        if (role.length != null) {

            document.getElementById('token').style.display = "block";
            $(document).ready(function () {
                const urlParams = new URLSearchParams(window.location.search);
                const projectId = urlParams.get('projectId');

                $.ajax({
                    method: "GET",
                    url: "https://localhost:7222/api/Projects/GetProjectById?projectId=" + projectId,
                    success: function (booking) {
                        $('#ProjectId').text(projectId);
                        $('#ProjectName').text(booking.projectName);
                        $('#StartDate').text(booking.startDate);
                        $('#EndDate').text(booking.endDate);
                        $('#Status').text(booking.status);
                        $('#Customer').text(booking.customerId);
                        $('#Bargain').text(booking.bargain);
                        if (role === 'CUSTOMER') {
                            document.getElementById('editproject').style.display = "block";

                            $('#editproject').attr('href', '/Projects/Edit?projectId=' + booking.projectID);
                        }
                        // $('#editLink').attr('href', '/Materials/Edit?materialId=' + qou.materialID);

                        if (booking.roomList.length > 0) {
                            var detailsHtml = '<h4>Booking Details</h4><table class="table"><thead><tr><th>Room ID</th><th>Room Type Name</th><th>Size</th><th>Description</th><th>Create</th><th>RoomDetails</th></tr></thead><tbody>';

                            booking.roomList.forEach(function (detail) {
                                detailsHtml += '<tr>';
                                detailsHtml += '<td>' + detail.roomID + '</td>';
                                detailsHtml += '<td>' + detail.roomName + '</td>';
                                detailsHtml += '<td>' + detail.size + '</td>';
                                detailsHtml += '<td>' + detail.description + '</td>';
                                detailsHtml += '<td>' + '<a href="/RoomDetails/Create?id=' + detail.roomID + '">Create</a>' + '</td>';
                                detailsHtml += '<td>' + '<a href="/RoomDetails/Details?id=' + detail.roomID + '">Room Details</a>' + '</td>';
                                detailsHtml += '</tr>';
                            });

                            detailsHtml += '</tbody></table>';
                            $('#bookingDetails').html(detailsHtml);
                        }
                    },
                    error: function (error) {
                        console.log(error.responseJSON);
                        alert(error.responseJSON.title);
                    }
                });
                $('#edit-link').click(function () {
                    localStorage.setItem('bookingId', bookingId);

                    console.log(bookingId);
                });
                $('#deleteproject').click(function () {
                    console.log("projectId", projectId);
                    $.ajax({
                        method: "Delete",
                        url: "https://localhost:7222/api/Projects/DeleteProject?id=" + projectId,
                        success: function (booking) {
                            window.location.href = "/Projects/Index";
                        },
                        error: function (error) {
                            console.log(error.responseJSON);
                            alert(error.responseJSON.Exception);
                        }
                    });
                });
            });
        }
    </script>
}
