@model Infrastructure.Common.Model.Request.CreateQuoteV2;

@{
    ViewData["Title"] = "Create";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Load Data into Select</title>
    @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> *@
</head>
<body>
    <h1>Create</h1>

    <style>
        body {
            background: #f5f5f5;
            margin-top: 20px;
        }
        /*------- portfolio -------*/
        .project {
            /* margin: 15px 0; */
        }

        .no-gutter .project {
            margin: 0 !important;
            padding: 0 !important;
        }

        .has-spacer {
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 30px;
        }

        .has-spacer-extra-space {
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 30px;
        }

        .has-side-spacer {
            margin-left: 30px;
            margin-right: 30px;
        }

        .project-title {
            font-size: 1.25rem;
        }

        .project-skill {
            font-size: 0.9rem;
            font-weight: 400;
            letter-spacing: 0.06rem;
        }

        .project-info-box {
            margin: 15px 0;
            background-color: #fff;
            padding: 30px 40px;
            border-radius: 5px;
        }

            .project-info-box p {
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #d5dadb;
            }

                .project-info-box p:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            -webkit-backface-visibility: hidden;
        }

        .rounded {
            border-radius: 5px !important;
        }

        .btn-xs.btn-icon {
            width: 34px;
            height: 34px;
            max-width: 34px !important;
            max-height: 34px !important;
            font-size: 10px;
            line-height: 34px;
        }
        /* facebook button */
        .btn-facebook, .btn-facebook:active, .btn-facebook:focus {
            color: #fff !important;
            background: #4e68a1;
            border: 2px solid #4e68a1;
        }

            .btn-facebook:hover {
                color: #fff !important;
                background: #3b4f7a;
                border: 2px solid #3b4f7a;
            }

        .btn-facebook-link, .btn-facebook-link:active, .btn-facebook-link:focus {
            color: #4e68a1 !important;
            background: transparent;
            border: none;
        }

            .btn-facebook-link:hover {
                color: #3b4f7a !important;
            }

        .btn-outline-facebook, .btn-outline-facebook:active, .btn-outline-facebook:focus {
            color: #4e68a1 !important;
            background: transparent;
            border: 2px solid #4e68a1;
        }

            .btn-outline-facebook:hover {
                color: #fff !important;
                background: #4e68a1;
                border: 2px solid #4e68a1;
            }

        /* twitter button */
        .btn-twitter, .btn-twitter:active, .btn-twitter:focus {
            color: #fff !important;
            background: #65b5f2;
            border: 2px solid #65b5f2;
        }

            .btn-twitter:hover {
                color: #fff !important;
                background: #5294c6;
                border: 2px solid #5294c6;
            }

            .btn-twitter:hover {
                color: #fff !important;
                background: #5294c6;
                border: 2px solid #5294c6;
            }

        .btn-twitter-link, .btn-twitter-link:active, .btn-twitter-link:focus {
            color: #65b5f2 !important;
            background: transparent;
            border: none;
        }

            .btn-twitter-link:hover {
                color: #5294c6 !important;
            }

        .btn-outline-twitter, .btn-outline-twitter:active, .btn-outline-twitter:focus {
            color: #65b5f2 !important;
            background: transparent;
            border: 2px solid #65b5f2;
        }

            .btn-outline-twitter:hover {
                color: #fff !important;
                background: #65b5f2;
                border: 2px solid #65b5f2;
            }

        /* google button */
        .btn-google, .btn-google:active, .btn-google:focus {
            color: #fff !important;
            background: #e05d4b;
            border: 2px solid #e05d4b;
        }

            .btn-google:hover {
                color: #fff !important;
                background: #b94c3d;
                border: 2px solid #b94c3d;
            }

        .btn-google-link, .btn-google-link:active, .btn-google-link:focus {
            color: #e05d4b !important;
            background: transparent;
            border: none;
        }

            .btn-google-link:hover {
                color: #b94c3d !important;
            }

        .btn-outline-google, .btn-outline-google:active, .btn-outline-google:focus {
            color: #e05d4b !important;
            background: transparent;
            border: 2px solid #e05d4b;
        }

            .btn-outline-google:hover {
                color: #fff !important;
                background: #e05d4b;
                border: 2px solid #e05d4b;
            }

        /* linkedin button */
        .btn-linkedin, .btn-linkedin:active, .btn-linkedin:focus {
            color: #fff !important;
            background: #2083bc;
            border: 2px solid #2083bc;
        }

            .btn-linkedin:hover {
                color: #fff !important;
                background: #186592;
                border: 2px solid #186592;
            }

        .btn-linkedin-link, .btn-linkedin-link:active, .btn-linkedin-link:focus {
            color: #2083bc !important;
            background: transparent;
            border: none;
        }

            .btn-linkedin-link:hover {
                color: #186592 !important;
            }

        .btn-outline-linkedin, .btn-outline-linkedin:active, .btn-outline-linkedin:focus {
            color: #2083bc !important;
            background: transparent;
            border: 2px solid #2083bc;
        }

            .btn-outline-linkedin:hover {
                color: #fff !important;
                background: #2083bc;
                border: 2px solid #2083bc;
            }

        /* pinterest button */
        .btn-pinterest, .btn-pinterest:active, .btn-pinterest:focus {
            color: #fff !important;
            background: #d2373b;
            border: 2px solid #d2373b;
        }

            .btn-pinterest:hover {
                color: #fff !important;
                background: #ad2c2f;
                border: 2px solid #ad2c2f;
            }

        .btn-pinterest-link, .btn-pinterest-link:active, .btn-pinterest-link:focus {
            color: #d2373b !important;
            background: transparent;
            border: none;
        }

            .btn-pinterest-link:hover {
                color: #ad2c2f !important;
            }

        .btn-outline-pinterest, .btn-outline-pinterest:active, .btn-outline-pinterest:focus {
            color: #d2373b !important;
            background: transparent;
            border: 2px solid #d2373b;
        }

            .btn-outline-pinterest:hover {
                color: #fff !important;
                background: #d2373b;
                border: 2px solid #d2373b;
            }

        /* dribble button */
        .btn-dribbble, .btn-dribbble:active, .btn-dribbble:focus {
            color: #fff !important;
            background: #ec5f94;
            border: 2px solid #ec5f94;
        }

            .btn-dribbble:hover {
                color: #fff !important;
                background: #b4446e;
                border: 2px solid #b4446e;
            }

        .btn-dribbble-link, .btn-dribbble-link:active, .btn-dribbble-link:focus {
            color: #ec5f94 !important;
            background: transparent;
            border: none;
        }

            .btn-dribbble-link:hover {
                color: #b4446e !important;
            }

        .btn-outline-dribbble, .btn-outline-dribbble:active, .btn-outline-dribbble:focus {
            color: #ec5f94 !important;
            background: transparent;
            border: 2px solid #ec5f94;
        }

            .btn-outline-dribbble:hover {
                color: #fff !important;
                background: #ec5f94;
                border: 2px solid #ec5f94;
            }

        /* instagram button */
        .btn-instagram, .btn-instagram:active, .btn-instagram:focus {
            color: #fff !important;
            background: #4c5fd7;
            border: 2px solid #4c5fd7;
        }

            .btn-instagram:hover {
                color: #fff !important;
                background: #4252ba;
                border: 2px solid #4252ba;
            }

        .btn-instagram-link, .btn-instagram-link:active, .btn-instagram-link:focus {
            color: #4c5fd7 !important;
            background: transparent;
            border: none;
        }

            .btn-instagram-link:hover {
                color: #4252ba !important;
            }

        .btn-outline-instagram, .btn-outline-instagram:active, .btn-outline-instagram:focus {
            color: #4c5fd7 !important;
            background: transparent;
            border: 2px solid #4c5fd7;
        }

            .btn-outline-instagram:hover {
                color: #fff !important;
                background: #4c5fd7;
                border: 2px solid #4c5fd7;
            }

        /* youtube button */
        .btn-youtube, .btn-youtube:active, .btn-youtube:focus {
            color: #fff !important;
            background: #e52d27;
            border: 2px solid #e52d27;
        }

            .btn-youtube:hover {
                color: #fff !important;
                background: #b31217;
                border: 2px solid #b31217;
            }

        .btn-youtube-link, .btn-youtube-link:active, .btn-youtube-link:focus {
            color: #e52d27 !important;
            background: transparent;
            border: none;
        }

            .btn-youtube-link:hover {
                color: #b31217 !important;
            }

        .btn-outline-youtube, .btn-outline-youtube:active, .btn-outline-youtube:focus {
            color: #e52d27 !important;
            background: transparent;
            border: 2px solid #e52d27;
        }

            .btn-outline-youtube:hover {
                color: #fff !important;
                background: #e52d27;
                border: 2px solid #e52d27;
            }

        .btn-xs.btn-icon span, .btn-xs.btn-icon i {
            line-height: 34px;
        }

        .btn-icon.btn-circle span, .btn-icon.btn-circle i {
            margin-top: -1px;
            margin-right: -1px;
        }

        .btn-icon i {
            margin-top: -1px;
        }

        .btn-icon span, .btn-icon i {
            display: block;
            line-height: 50px;
        }

        a.btn, a.btn-social {
            display: inline-block;
        }

        .mr-5 {
            margin-right: 5px !important;
        }

        .mb-0 {
            margin-bottom: 0 !important;
        }

        .btn-facebook, .btn-facebook:active, .btn-facebook:focus {
            color: #fff !important;
            background: #4e68a1;
            border: 2px solid #4e68a1;
        }

        .btn-circle {
            border-radius: 50% !important;
        }

        .project-info-box p {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #d5dadb;
        }

        p {
            font-family: "Barlow", sans-serif !important;
            font-weight: 300;
            font-size: 1rem;
            color: #686c6d;
            letter-spacing: 0.03rem;
            margin-bottom: 10px;
        }

        b, strong {
            font-weight: 700 !important;
        }

        .project .row {
            margin: 0;
            padding: 15px 0;
            margin-bottom: 15px
        }

        .project div[class*='col-'] {
            border-right: 1px solid #eee
        }

        .project .text h3 {
            margin-bottom: 0;
            color: #555
        }

        .project .text small {
            color: #aaa;
            font-size: 0.75em
        }

        .project .project-date span {
            font-size: 0.9em;
            color: #999
        }

        .project .image {
            max-width: 50px;
            min-width: 50px;
            height: 50px;
            margin-right: 15px
        }

        .project .time,
        .project .comments,
        .project .project-progress {
            color: #999;
            font-size: 0.9em;
            margin-right: 20px
        }

            .project .time i,
            .project .comments i,
            .project .project-progress i {
                margin-right: 5px
            }

        .project .project-progress {
            width: 200px
        }

            .project .project-progress .progress {
                height: 4px
            }

        .project .card {
            margin-bottom: 0
        }


        .has-shadow {
            -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
            box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
        }

        .bg-white {
            background: #fff !important;
        }

        .bg-red {
            background: #ff7676 !important;
            color: #fff
        }

            .bg-red:hover {
                color: #fff
            }

        .bg-blue {
            background: #85b4f2 !important;
            color: #fff
        }

            .bg-blue:hover {
                color: #fff
            }

        .bg-yellow {
            background: #eef157 !important;
            color: #fff
        }

            .bg-yellow:hover {
                color: #fff
            }

        .bg-green {
            background: #54e69d !important;
            color: #fff
        }

            .bg-green:hover {
                color: #fff
            }

        .bg-orange {
            background: #ffc36d !important;
            color: #fff
        }

            .bg-orange:hover {
                color: #fff
            }

        .bg-violet {
            background: #796AEE !important;
            color: #fff
        }

            .bg-violet:hover {
                color: #fff
            }

        .bg-gray {
            background: #ced4da !important
        }

        #selectedImageContainer {
            display: inline-flex;
            align-items: center;
            margin-top: 5px;
            /* margin-bottom: 10px */
        }

        .selected-image {
            /* width: 100px; */
            /* height: auto; */
            margin-right: 10px;
        }

        .select-number {
            margin-left: 5px;
        }
    </style>

    <div class="showdata" style="padding-bottom:10px">
        <label for="ProjectID" class="control-label"></label>
        <select id="ProjectID" name="ProjectID" class="form-control"></select>
        <span class="text-danger"></span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="project-info-box mt-0">
                    <h5>PROJECT DETAILS</h5>
                    @* <p class="mb-0">Vivamus pellentesque, felis in aliquam ullamcorper, lorem tortor porttitor erat, hendrerit porta nunc tellus eu lectus. Ut vel imperdiet est. Pellentesque condimentum, dui et blandit laoreet, quam nisi tincidunt tortor.</p> *@
                </div>
                <div class="loaddataRoom" style="padding-bottom:10px">
                    <label for="Room" class="control-label"></label>
                    <select id="Room" name="Room" class="form-control"></select>
                </div>

                <div class="project-info-box">
                    <p id="Detail"></p>
                    <p class="mb-0" id="Budget"><b>Budget:</b> 500 </p>
                </div>

            </div><!-- / column -->

            <div class="col-md-7">
                <div class="project">
                    <div class="row bg-white has-shadow">
                        <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                            <div class="project-title d-flex align-items-center">
                                <div class="image has-shadow"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="..." class="img-fluid"></div>
                                <div class="text">
                                    <h3 class="h4">Project Title</h3><small>Lorem Ipsum Dolor</small>
                                </div>
                            </div>
                            <div class="project-date"><span class="hidden-sm-down">Today at 4:24 AM</span></div>
                        </div>
                        <div class="right-col col-lg-6 d-flex align-items-center">
                            <div class="time"><i class="fa fa-clock-o"></i>12:00 PM </div>
                            <div class="comments"><i class="fa fa-comment-o"></i>20</div>
                            <div class="project-progress">
                                <div class="progress">
                                    <div role="progressbar" style="width: 45%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <form id="bookingForm" onsubmit="submitForm(event)">
                    <div id="materialFieldsContainer">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" onclick="addMaterial()">Add Room</button>
                        <button type="button" class="btn btn-danger" onclick="removeMaterial()">Remove Room</button>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>

</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var token = localStorage.getItem('jwtToken');
        var roomIndex = -1;
        loadProject();

        var materialoptions = @Html.Raw(Json.Serialize(ViewBag.MaterialID));

        $(document).ready(function () {
            // loadData();

            initializeRooms();
            $('#addMaterial').click(function () {
                addMaterial();
            });
            $('#removeMaterial').click(function () {
                removeMaterial();
            });

            $('#ProjectID').on('click', function () {
                var projectId = $(this).val();
                getRoomsByProjectId(projectId);
                // loadProject();
            });
            $('#Room').on('click', function () {
                var roomID = $(this).val();
                getRoomsDetailByRoomId(roomID);

            });
            // $('.material-select').on('click', function () {
            //     var selectedMaterialId = $(this).val();
            //     console.log(selectedMaterialId);

            //     var materialField = $(this).closest('.materialField');

            //     $.ajax({
            //         url: 'https://localhost:7222/api/Materials/GetMaterialById?id=' + selectedMaterialId,
            //         type: 'GET',
            //         headers: {
            //             'Authorization': 'Bearer ' + token
            //         },
            //         success: function (material) {
            //             var selectedImageSrc = material.image;
            //             var imageContainer = materialField.find('.selected-image');
            //             imageContainer.attr('src', selectedImageSrc);
            //             var selectedUnitPrice = material.unitPrice;
            //             var unitPriceContainer = materialField.find('.selected-material-info');
            //             unitPriceContainer.text('Unit Price: ' + selectedUnitPrice);
            //         }
            //     });
            // });

        });
        function initializeRooms() {
            addMaterial();
        }
        function loadProject() {
            $.ajax({
                url: 'https://localhost:7222/api/Projects/GetProjectsWithStatusACTIVE',
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function (data) {
                    data.forEach(function (project) {
                        $('#ProjectID').append('<option value="' + project.projectID + '">' + 'Project ID: ' + project.projectID + ' -  Name: ' + project.projectName + '</option>');
                        $('#Budget').html('<b>Budget:</b> ' + project.bargain);

                    });
                    console.log(data);
                }, error: function (error) {
                    console.log(error.responseJSON);
                    alert(error.responseJSON.title);
                }
            });
        }
        function getRoomsByProjectId(projectId) {
            console.log(projectId);
            $.ajax({
                url: 'https://localhost:7222/api/Projects/GetProjectById?projectId=' + projectId,
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function (projects) {
                    $('#Budget').html('<b>Budget:</b> ' + projects.bargain);

                    $('#Room').empty();
                    projects.roomList.forEach(function (room) {
                        $('#Room').append('<option value="' + room.roomID + '">' + 'Name: ' + room.roomName + ' - Size: ' + room.size + '</option>');

                        console.log(room.roomID);
                    });
                }, error: function (error) {
                    console.log(error.responseJSON);
                    alert(error.responseJSON.title);
                }
            });
        }

        function getRoomsDetailByRoomId(roomId) {
            console.log(roomId);
            $.ajax({
                url: 'https://localhost:7222/api/Rooms/GetRoomByID?id=' + roomId,
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function (rooms) {
                    $('#Detail').empty();
                    rooms.responseRoomDetails.forEach(function (room) {
                        var roomInfo = $('<p>').html(
                            '<b>Name:</b> ' + room.name +
                            ' - <b>Number: </b> ' + room.numberEquipment
                        );

                        $('#Detail').append(roomInfo);
                        console.log(room.roomDetailId);
                    });
                }, error: function (error) {
                    console.log(error.responseJSON);
                    alert(error.responseJSON.title);
                }
            });
        }

        function removeMaterial() {
            var roomFieldsContainer = document.getElementById("materialFieldsContainer");
            var lastRoom = roomFieldsContainer.lastElementChild;

            if (lastRoom && lastRoom.classList.contains("materialField") && roomIndex > 0) {

                roomFieldsContainer.removeChild(lastRoom);
                roomIndex--;
            }
        }

        $(document).on('click', '.material-select', function () {
            var selectedMaterialId = $(this).val();
            console.log(selectedMaterialId);

            var materialField = $(this).closest('.materialField');

            $.ajax({
                url: 'https://localhost:7222/api/Materials/GetMaterialById?id=' + selectedMaterialId,
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function (material) {
                    var selectedImageSrc = material.image;
                    var imageContainer = materialField.find('.selected-image');
                    imageContainer.attr('src', selectedImageSrc);
                    var selectedUnitPrice = material.unitPrice;
                    var unitPriceContainer = materialField.find('.selected-material-info');
                    unitPriceContainer.text('Unit Price: ' + selectedUnitPrice);
                }, error: function (error) {
                    console.log(error.responseJSON);
                    alert(error.responseJSON.title);
                }

            });
        });

        function addMaterial() {
            roomIndex++;
            var roomFieldsContainer = $('#materialFieldsContainer');
            var quotedetails = `
                                                                                                        <div class="materialField" id="room${roomIndex}">
                                                                                                            <div class="form-group">
                                                                                                                        <label for="CreateQuoteDetails[${roomIndex}].MaterialId" class="control-label"></label>
                                                                                                                <select class="form-control material-select"  name="CreateQuoteDetails[${roomIndex}].MaterialId">
                                                                                                        `;

            materialoptions.forEach(option => {
                quotedetails += `<option value="${option.value}">${option.text}</option>`;
            });

            quotedetails += `
                                                                                                                </select>
                                                                                                            </div>
                                                                                                            <div id="selectedImageContainer">
                                                                                                                <img class="selected-image" src="" alt="Selected Image" style="height:80px;width:150px">
                                                                                                                <span class="selected-material-info" id="selected-material-info${roomIndex}"></span>
                                                                                                                <label class="select-number">Number: </label>
                                                                                                                <input type="number" name="Number" id="CreateQuoteDetails[${roomIndex}].numberMaterial" class="number-material" style="margin-left:10px" />
                                                                                                            </div>
                                                                                                        </div>`;

            roomFieldsContainer.append(quotedetails);
        }

        // function submitForm(event) {
        //     event.preventDefault();

        //     var formData = document.getElementById("ProjectID");
        //     var formQuoteDetails = {
        //         projectID: formData.value,
        //         createQuoteDetails: []
        //     };

        //     for (var i = 0; i <= roomIndex; i++) {
        //         // var materialIdField = document.getElementById(`CreateQuoteDetails[${i}].MaterialId`).value;
        //         // var numberMaterialField = document.getElementById(`CreateQuoteDetails[${i}].numberMaterial`).value;

        //         var roomData = {
        //             materialId: materialIdField,
        //             numberMaterial: numberMaterialField,
        //         };
        //         formQuoteDetails.createQuoteDetails.push(roomData);
        //     }
        //     console.log(formQuoteDetails);

        //     // $.ajax({
        //     //     url: "https://localhost:7143/api/BookingReservations/PostBookingReservation",
        //     //     type: "POST",
        //     //     contentType: "application/json; charset=utf-8",
        //     //     data: JSON.stringify(bookingReservationData),
        //     //     success: function (result) {
        //     //         alert("Success callback executed!");
        //     //         console.log(result);
        //     //         console.log(result.redirectUrl);
        //     //         window.location.href = "/Home/HomePage";

        //     //     },
        //     //     error: function (error) {
        //     //         alert(error.responseText)
        //     //         console.error(error);
        //     //     }
        //     // });
        // }
        function submitForm(e) {
            e.preventDefault();
            var projectId = $('#ProjectID').val();
            var formQuoteDetails = {
                projectID: projectId,
                createQuoteDetails: []
            };

            $('.materialField').each(function (index) {
                var materialId = $(this).find('select.material-select').val();

                var number = $(this).find('input.number-material').val();

                var elementData = {
                    materialId: materialId,
                    numberMaterial: number
                };
                formQuoteDetails.createQuoteDetails.push(elementData);
            });

            console.log(formQuoteDetails);
            $.ajax({
                url: "https://localhost:7222/api/Quotes/PostQuote",
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                type: "POST",
                contentType: "application/json;odata.metadata=minimal;odata.streaming=true",
                data: JSON.stringify(formQuoteDetails),
                success: function (result) {
                    alert("Success callback executed!");
                    console.log(result);
                    console.log(result.redirectUrl);
                    window.location.href = "/Quotes/Index";

                },
                error: function (error) {
                    console.log(error.responseJSON);
                    alert(error.responseJSON.Exception);
                }
            });
        }
    </script>
}
