@{
    ViewData["Title"] = "Details";
}

<html>
<head>
    <link rel="stylesheet" href="assetss/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="assetss/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="assetss/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="assetss/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="assetss/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="assetss/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="assetss/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="assetss/css/responsive.css">
</head>

<body>

    <div class="all" id="checkRoleStaff" style="display: none;">

        <div>
            <h1>Details</h1>
            <style>
                .custom-img {
                    width: 700px;
                    height: 400px;
                }
            </style>
            <div class="single-product">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="single-product-img">
                                @* <img id ="ImageQuoteDetail"src="" alt=""> *@
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="custom-img" src="" alt="" />
                                        </div>
                                    </div>
                                    @* <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a> *@

                                </div>

                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="single-product-content">
                                <dl>
                                    <dt class="col-sm-2">
                                        Quote ID
                                    </dt>
                                    <dd class="col-sm-10" id="QuoteID">

                                    </dd>
                                    <dt class="col-sm-2">
                                        QuoteDate
                                    </dt>
                                    <dd class="col-sm-10" id="QuoteDate">
                                    </dd>
                                    <dt class="col-sm-2">
                                        Status
                                    </dt>
                                    <dd class="col-sm-10" id="Status">
                                    </dd>
                                    <dt class="col-sm-2">
                                        TotalAmount
                                    </dt>
                                    <dd class="col-sm-10" id="TotalAmount">
                                    </dd>
                                    <dt class="col-sm-2">
                                        Project
                                    </dt>
                                    <dd class="col-sm-10" id="Project">
                                    </dd>
                                    <dt class="col-sm-2">
                                        Staff
                                    </dt>
                                    <dd class="col-sm-10" id="Staff">

                                    </dd>
                                </dl>
                                <div id="qouteDetails"></div>
                                <br/>
                                <h3 id="ProjectName" style="color:red"></h3>
                                <p id="detailQouteTest"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<div>
    <a href="#" id="editLink" style="display:none;">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>


@section scripts {
    <script>
        var token = localStorage.getItem('jwtToken');
        var role = localStorage.getItem('role');

        if (role.length != null) {
            document.getElementById('checkRoleStaff').style.display = 'block';

            // $('.carousel').carousel({
            //     interval: 2000
            // });
            $(document).ready(function () {
                const urlParams = new URLSearchParams(window.location.search);
                const quoteDetailId = urlParams.get('QuoteDetailId');

                console.log(quoteDetailId);
                $.ajax({
                    method: "GET",
                    url: "https://localhost:7222/api/Quotes/GetQuote?id=" + quoteDetailId,
                    success: function (qou) {
                        $('#QuoteID').text(qou.quoteID);
                        $('#QuoteNumber').text(qou.quoteNumber);
                        $('#QuoteDate').text(qou.quoteDate);
                        $('#Status').text(qou.status);
                        $('#TotalAmount').text(qou.totalAmount);
                        $('#Project').text(qou.projectID);
                        $('#ProjectName').text(qou.nameProject);

                        $('#Material').text(qou.materialID);
                        $('#Staff').text(qou.staffId);
                        if (role === 'STAFF') {
                            document.getElementById('editLink').style.display = 'block';
                            $('#editLink').attr('href', '/Quotes/Edit?quouteId=' + qou.quoteID);
                        }
                        console.log(qou);
                        if (qou.responseQuoteDetails.length > 0) {
                            // var detailsHtml = '<h4>Qoute Details</h4><table class="table"><thead><tr><th>Material ID</th><th>Material Name</th><th>Number</th><th>Price</th></tr></thead><tbody>';
                            // qou.responseQuoteDetails.forEach(function (detail) {
                            //     detailsHtml += '<tr>';
                            //     detailsHtml += '<td>' + "<img src=" + detail.image + " style='height: 80px; width: 150px;' alt='Alternate Text' />" + '</td>';
                            //     // $('img#ImageQuoteDetail').attr('src', detail.image);

                            //     detailsHtml += '<td>' + detail.materialName + '</td>';
                            //     detailsHtml += '<td>' + detail.numberMaterial + '</td>';
                            //     detailsHtml += '<td>' + detail.price + '</td>';
                            //     detailsHtml += '</tr>';
                            // });


                            // detailsHtml += '</tbody></table>';
                            // $('#qouteDetails').html(detailsHtml);


                            var quoteDetailhtml = '';
                            qou.responseQuoteDetails.forEach(function (detail, index) {
                                quoteDetailhtml += '<p><strong>Material :</strong> ' + detail.materialName + ' <strong>Number :</strong> ' + detail.numberMaterial + ' <strong>Price :</strong> ' + detail.price + ' VND </p>';
                                quoteDetailhtml += '<td>' + "<img src=" + detail.image + " style='height: 80px; width: 150px;' alt='Alternate Text' />" + '</td>';
                                
                                var carouselItem = $('.carousel-item').eq(index);
                                var imgElement = carouselItem.find('img.custom-img');
                                imgElement.attr('src', detail.image);
                                carouselItem.next(index);

                            });
                            $('#detailQouteTest').html(quoteDetailhtml);

                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(error.responseJSON);
                        alert(error.responseJSON.title);
                    }
                })
            })
        }

    </script>
    <script src="assetss/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="assetss/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="assetss/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="assetss/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="assetss/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="assetss/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="assetss/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="assetss/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="assetss/js/sticker.js"></script>
    <!-- main js -->
    <script src="assetss/js/main.js"></script>
}

</html>
