@model Domain.Material

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Material</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create" id="createMaterialForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaterialName" class="control-label"></label>
                <input asp-for="MaterialName" name="MaterialName" class="form-control" />
                <span asp-validation-for="MaterialName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" name="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" name="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" name="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            @* <div class="form-group">
            <label asp-for="CreateDate" class="control-label"></label>
            <input asp-for="CreateDate" class="form-control" />
            <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" name="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            @*  <div class="form-group">
            <label asp-for="StaffId" class="control-label"></label>
            <select asp-for="StaffId" class="form-control" asp-items="ViewBag.StaffId"></select>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            var token = localStorage.getItem('jwtToken')

            $('#createMaterialForm').submit(function (e) {
                e.preventDefault();
                // var formData = {
                //     MaterialName: $('#MaterialName').val(),
                //     Description: $('#Description').val(),
                //     UnitPrice: $('#UnitPrice').val(),
                //     Stock: $('#Stock').val(),
                //     Image: $('#Image').val(),
                // };
                var formData = new FormData(this);

                $.ajax({
                    type: "POST",
                    url: "https://localhost:7222/api/Materials/PostMaterials",
                    // contentType: "multipart/form-data",
                    contentType: false,
                    processData: false,
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                    // data: JSON.stringify(formData),
                    data: formData, // Pass FormData directly

                    success: function (response) {
                        console.log(response);
                        window.location.href = '@Url.Action("Index", "Materials")';
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });

    </script>
}
