@model Domain.Staff

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="formcreateStaff">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StaffName" class="control-label"></label>
                <input asp-for="StaffName" class="form-control" />
                <span asp-validation-for="StaffName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Account.Username" class="control-label"></label>
                <input asp-for="Account.Username" class="form-control" />
                <span asp-validation-for="Account.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label"></label>
                <input asp-for="Account.Password" class="form-control" />
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#formcreateStaff').submit(function (e) {
                e.preventDefault();
                var form = {
                    "username": $("#Account_Username").val(),
                    "password": $("#Account_Password").val(),
                    "staffName": $("#StaffName").val(),
                    "contact": $("#Contact").val()
                }
                console.log(form);
                $.ajax({
                    type: "POST",
                    url: "https://localhost:7222/api/Staffs/PostStaffs",
                    // contentType: "multipart/form-data",
                    contentType: "application/json;odata.metadata=minimal;odata.streaming=true",
                    accepts: 'application/json;odata.metadata=minimal;odata.streaming=true',
                    // headers: {
                    //     'Authorization': 'Bearer ' + token
                    // },
                    data: JSON.stringify(form),
                    success: function (response) {
                        console.log(response);
                        window.location.href = '@Url.Action("Index", "Staffs")';
                    },
                    error: function (error) {
                        console.log(error.responseJSON);
                        alert(error.responseJSON.Exception);
                    }
                });
            });

        });
    </script>
}
