@model Domain.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="formcreatecustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Username" class="control-label"></label>
                <input asp-for="Account.Username" class="form-control" />
                <span asp-validation-for="Account.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label"></label>
                <input asp-for="Account.Password" class="form-control" />
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        
    </div>
</div>
<div id="createdone">
    
</div>
<div>
    <a href="/Home/login">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#formcreatecustomer').submit(function (e) {
                e.preventDefault();
                var form = {
                    "firstName": $('#FirstName').val(),
                    "lastName": $("#LastName").val(),
                    "email": $("#Email").val(),
                    "phone": $("#Phone").val(),
                    "address": $("#Address").val(),
                    "username": $("#Account_Username").val(),
                    "password": $("#Account_Password").val()
                }
                console.log(form);
                $.ajax({
                    type: "POST",
                    url: "https://localhost:7222/api/Customers/PostCustomers",
                    // contentType: "multipart/form-data",
                    contentType: "application/json;odata.metadata=minimal;odata.streaming=true",
                    accepts: 'application/json;odata.metadata=minimal;odata.streaming=true',
                    // headers: {
                    //     'Authorization': 'Bearer ' + token
                    // },
                    data: JSON.stringify(form),

                    success: function (response) {
                        console.log(response);
                        // window.location.href = '@Url.Action("", "")';
                        alert("done");
                        
                        if (response) {
                            var detailsHtml = '<h4>Create Response</h4><table class="table"><thead><tr><th>CustomerID</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Phone</th><th>Address</th><th>Username</th><th>Password</th></tr></thead><tbody>';

                            detailsHtml += '<tr>';
                            detailsHtml += '<td>' + response.customerID + '</td>';
                            detailsHtml += '<td>' + response.firstName + '</td>';
                            detailsHtml += '<td>' + response.lastName + '</td>';
                            detailsHtml += '<td>' + response.email + '</td>';
                            detailsHtml += '<td>' + response.phone + '</td>';
                            detailsHtml += '<td>' + response.address + '</td>';
                            detailsHtml += '<td>' + response.account.username + '</td>';
                            detailsHtml += '<td>' + response.account.password + '</td>';
                            detailsHtml += '</tr>';

                            detailsHtml += '</tbody></table>';
                            $('#createdone').html(detailsHtml);
                        }

                    },
                    error: function (error) {
                        console.log(error.responseJSON);
                        alert(error.responseJSON.title);
                    }
                });
            });

        });
    </script>
}
