@{
    ViewData["Title"] = "Index";
}
<div class="alldiv" id="checkRole" style="display: none;">

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <a href="/Home/HomePage">BACK</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    Customer ID
                </th>
                <th>
                    FirstName
                </th>
                <th>
                    Email
                </th>
                <th>
                    Address
                </th>
                <th>
                    CreateDate
                </th>
                <th>
                    username
                </th>
                <th>
                    password
                </th>
                <th>
                    Details
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="listcustomer" />
    </table>
</div>
@section scripts {
    <script>
        var token = localStorage.getItem('jwtToken')
        var role = localStorage.getItem('role');
        if (role === "STAFF") {
            document.getElementById('checkRole').style.display = "block";
        }
        $(document).ready(function () {
            $.ajax({
                url: 'https://localhost:7222/odata/Customers',
                type: 'GET',
                dataType: 'json',
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function (data) {
                    displayCustomers(data);
                    console.log(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error:', errorThrown);
                }
            });
        });
        function displayCustomers(data) {
            var tableHtml = '';
            data.forEach(function (customer) {
                tableHtml += '<tr>';
                tableHtml += '<td>' + customer.customerID + '</td>';
                tableHtml += '<td>' + customer.firstName + '</td>';
                tableHtml += '<td>' + customer.email + '</td>';
                tableHtml += '<td>' + customer.address + '</td>';
                tableHtml += '<td>' + customer.createDate + '</td>';
                tableHtml += '<td>' + customer.account.username + '</td>';
                tableHtml += '<td>' + customer.account.password + '</td>';
                tableHtml += '<td><button class="btn btn-primary detail-btn" data-customer-id="' + customer.customerID + '">Detail</button></td>';

                tableHtml += '</tr>';
            });
            $('#listcustomer').html(tableHtml);
            $('.detail-btn').click(function () {
                var customerId = $(this).data('customer-id');

                $.ajax({
                    type: "GET",
                    url: "https://localhost:7222/api/Customers/GetCustomerById?id=" + customerId,
                    success: function (response) {
                        console.log(response);
                        window.location.href = '/Customers/Details?customerId=' + customerId;

                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        }

    </script>
}